@using Forsaj.Models.Tables;
@model List<Forsaj.Models.Tables.Post>;
@{
    ViewData["Title"] = "Home Page";
}

@{
    List<Marka> Markas = ViewBag.Marka;
    List<Model_Cars> ModelCars = ViewBag.ModelCars;
    List<Country> Countries = ViewBag.Country;
    List<Image> images = ViewBag.Images;


}

<section id="search">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="POST">
                    <div id="advace__search">
                        <div class="main__search">
                            <div class="select">
                                <select name="slct" id="Country">
                                    <option selected disabled>Ölkəni seçin</option>
                                    @foreach (var item in Countries)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="select">
                                <select name="slct" id="Marka">
                                    <option selected disabled>Marka</option>
                                    @foreach (var item in Markas)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="select">
                                <select name="slct" id="Model">
                                    <option selected disabled>Model</option>
                                    @foreach (var item in ModelCars)
                                    {
                                        <option value="@item.Id" data-parentId="@item.MarkaId">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="main__search">
                            <div class="main__price">
                                <label class="buraxilis" for="">Qiymət</label>
                                <input type="number">
                                <input type="number">
                            </div>
                            <div class="main__price">
                                <label for="">Buraxılış</label>
                                <div class="born__date">
                                    <input type="number">
                                    <input type="number">
                                </div>
                            </div>
                            <div class="main__serach--button">
                                <button>Axtar</button>
                                <a href="../Home/Filter">Ətraflı axtar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="elan">
                <h3>
                    <a href="../Home/AllPost?isVip=true">
                        Vip Elanlar
                    </a>
                </h3>
                <a href="../Home/AllPost">Hamısını göstər</a>
            </div>
            <div class="ana">

                @Html.Partial("_Cars");



            </div>
        </div>
    </div>

</section>
<div class="container">

</div>
@section Scripts{
    <script src="~/CustomScript/ChangeMarka.js"></script>
}